**/.vs/
**/.vscode/
**/.idea/
**/bin/
**/obj/
**/TestResults/
**/test-results/
**/.pytest_cache/
**/coverage/
**/coveragereport/
**/*.cobertura.xml
**/*.opencover.xml
**/coverage.*
.env
.env.*

*.user
*.suo
*.userosscache
*.sln.docstates
*.cache
*.exe
*.log
**/packages/
