name: ulbs-doc-auth

services:
  api:
    build:
      context: .
      dockerfile: UlbsDocAuth.Api/Dockerfile
    environment:
      ASPNETCORE_URLS: http://+:8080
      # override appsettings via env vars (recommended for containers)
      GoogleAuth__ClientId: ${GOOGLE_CLIENT_ID}
    ports:
      - "8080:8080"

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    depends_on:
      - api
    ports:
      - "3000:80"
